<span class="user-list-item-figure" style={{user.userImageBackground}}>
    <span class="hidden">Photo of {{user.model.name}}</span>
</span>

<div class="user-list-item-body">
    <span class="name">
        {{user.model.name}}
    </span>
<br>
    <span class="description">Last seen: {{user.last_login}}</span>
</div>
<aside class="user-list-item-aside">
    {{#unless user.model.isAuthor}}
        {{#each user.model.roles as |role|}}
            <span class="role-label {{role.lowerCaseName}}">{{role.name}}</span>
        {{/each}}
    {{/unless}}
</aside>